html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  color: #383838;
}
h1 .bold {
  font-weight: 700;
  color: #383838;
}

.btn-submit {
  width: 100%;
  color: white;
  border: none;
  background-color: #c86dd7;
  padding: 15px 0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.0095em;
  -webkit-box-shadow: #c86dd7 0 0 20px;
  box-shadow: #c86dd7 0 0 20px;
  -webkit-appearance: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background-image: -webkit-gradient(linear, left top, right top, from(#b564d2), to(#c76dd7));
  background-image: linear-gradient(90deg, #b564d2 0%, #c76dd7 100%);
}
.btn-submit:hover {
  background-color: #3023ae;
  -webkit-box-shadow: #3023ae 0 0 20px;
  box-shadow: #3023ae 0 0 20px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main .codequest-form {
  width: 470px;
  background: white;
  padding: 70px 50px;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border-radius: 15px;
  -webkit-box-shadow: rgba(80, 0, 151, 0.58) 0 0 40px;
  box-shadow: rgba(80, 0, 151, 0.58) 0 0 40px;
}
@media screen and (max-width: 850px) {
  main .codequest-form {
    padding: 50px 30px;
  }
}
main .codequest-form.send {
  -webkit-animation-name: send;
  animation-name: send;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
main .codequest-form .form-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 35px 0;
}
main .codequest-form .form-cover:before, main .codequest-form .form-cover:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100%;
  z-index: -1;
}
main .codequest-form .form-cover:after {
  background: url(../img/foto_2.png) no-repeat center;
  right: 13%;
}
@media screen and (max-width: 850px) {
  main .codequest-form .form-cover:after {
    right: 15%;
  }
}
main .codequest-form .form-cover:before {
  background: url(../img/foto_3.png) no-repeat center;
  left: 13%;
}
@media screen and (max-width: 850px) {
  main .codequest-form .form-cover:before {
    left: 15%;
  }
}
main .codequest-form .form-cover img {
  -webkit-box-shadow: rgba(90, 70, 107, 0.51) 0 0 40px;
  box-shadow: rgba(90, 70, 107, 0.51) 0 0 40px;
  border-radius: 50%;
}
main .codequest-form fieldset {
  padding: 5px;
  margin-bottom: 25px;
  position: relative;
}
main .codequest-form fieldset .line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #CFCFCF;
  width: 100%;
}
main .codequest-form label svg {
  width: 20px;
  height: 15px;
}
main .codequest-form input {
  height: 100%;
  width: calc(100% - 30px);
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 18px;
  color: #CFCFCF;
  outline: none;
  padding-left: 6px;
}
main .codequest-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
main .codequest-form input:focus ~ .line {
  background-color: #c86dd7;
  -webkit-animation: draw .3s linear;
  animation: draw .3s linear;
}
main .codequest-form ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFCFCF;
}
main .codequest-form :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFCFCF;
}
main .codequest-form ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFCFCF;
}
main .codequest-form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFCFCF;
}
main .codequest-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #CFCFCF;
}
main .codequest-form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #CFCFCF;
}

.success {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
  -webkit-transform: translate3d(0, -50vh, 0);
  transform: translate3d(0, -50vh, 0);
}

.send + .success {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50vh, 0);
    transform: translate3d(0, -50vh, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50vh, 0);
    transform: translate3d(0, -50vh, 0);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes draw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes draw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes send {
  100% {
    -webkit-transform: scale(0) rotate(360deg);
    transform: scale(0) rotate(360deg);
  }
}
@keyframes send {
  100% {
    -webkit-transform: scale(0) rotate(360deg);
    transform: scale(0) rotate(360deg);
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(48deg, #c86dd7 0%, #3023ae 100%);
  height: 100vh;
}
