
@import "base/reset";
@import "helpers/media";
@import "base/colors";
@import "base/typography";

@import "components/buttons";
@import "components/main";

* {
    box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	background-image: linear-gradient(48deg, $lightPurple 0%, $darkPurple 100%);
	height: 100vh;
}
