.btn-submit {
	width: 100%;
	color: white;
	border: none;
	background-color: $lightPurple;
	padding: 15px 0;
	border-radius: 10px;
	font-weight: 700;
	font-size: 18px;
	outline: none;
	cursor: pointer;
	letter-spacing: 0.0095em;
	box-shadow: $lightPurple 0 0 20px;
	-webkit-appearance: none;
	transition: all .3s linear;
	background-image: linear-gradient(90deg, #b564d2 0%, #c76dd7 100%);
	&:hover {
		background-color: $darkPurple;
		box-shadow: $darkPurple 0 0 20px;
		transition: all .3s linear;
	}
}
