main {
	height: 100vh;
    display: flex;
    justify-content: center;
	align-items: center;
	.codequest-form {
		width: 470px;
		background: white;
		padding: 70px 50px;
		animation-name: fadeInDown;
		animation-delay: 0.3s;
		animation-duration: 1.5s;
		animation-fill-mode: both;
		border-radius: 15px;
		box-shadow: rgba(80,0,151,0.58) 0 0 40px;
		@include mediaMobile {
			padding: 50px 30px;
		}
		&.send {
			animation-name: send;
			animation-delay: 0.5s;
			animation-duration: 1.5s;
		}
		.form-cover {
			display: flex;
			justify-content: center;
			position: relative;
			margin: 35px 0;
			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 100px;
				height: 100%;
				z-index: -1;
			}

			&:after {
				background: url(../img/foto_2.png) no-repeat center;
				right: 13%;
				@include mediaMobile {
					right: 15%;
				}
			}
			&:before {
				background: url(../img/foto_3.png) no-repeat center;
				left: 13%;
				@include mediaMobile {
					left: 15%;
				}
			}
			img {
				box-shadow: rgba(90,70,107,0.51) 0 0 40px;
				border-radius: 50%;
			}
		}
		fieldset {
			padding: 5px;
			margin-bottom: 25px;
			position: relative;
			.line {
				position: absolute;
				left: 0;
				bottom: 0;
				height: 2px;
				background-color: $grey;
				width: 100%;
			}
		}
		label {
			svg {
				width: 20px;
    			height: 15px;
			}
		}
		input {
			height: 100%;
			width: calc(100% - 30px);
			padding: 0;
			border: 0;
			vertical-align: baseline;
			font-size: 18px;
			color: $grey;
			outline: none;
			padding-left: 6px;
		}
		input:-webkit-autofill {
			-webkit-box-shadow: 0 0 0 30px white inset;
		}
		input:focus ~ .line {
			background-color: $lightPurple;
			animation: draw .3s linear;
		}
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $grey;
		}
		
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: $grey;
		}
		
		::-ms-input-placeholder { /* Microsoft Edge */
			color: $grey;
		}
	}
}

.success {
	visibility: hidden;
    opacity: 0;
	transition: all .5s ease-in; 
	transition-delay: 1.8s;
	width: 100px;
	position: absolute;
	left: calc(50% - 50px);
	transform: translate3d(0, -50vh, 0);

}
.send + .success {
	display: block;
    visibility: visible;
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -50vh, 0);
	}
	100% {
		opacity: 1;
	}
}
@keyframes draw {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes send { 
	100% {
		transform: scale(0) rotate(360deg);
	}
}