$mobileBreakpoint: 850px;

@mixin mediaAll {
    @media screen and (min-width: 0) {
        @content;
    }
}

@mixin mediaAboveMobile {
    @media screen and (min-width: #{$mobileBreakpoint + 1}) {
        @content;
    }
}

@mixin mediaMobile {
    @media screen and (max-width: $mobileBreakpoint) {
        @content;
    }
}